.App {
  text-align: center;
}

.bg-custom {
  background: 
  radial-gradient(circle at 8% 6%, hsla(190,0%,93%,0.05) 0.5%, hsla(190,0%,100%,0.05) 10%,transparent 1%, transparent 100%),
  radial-gradient(circle at 8% 6%, hsla(190,0%,93%,0.05) 0.5%, hsla(190,0%,100%,0.05) 30%,transparent 1%, transparent 100%),
  radial-gradient(circle at 8% 6%, hsla(190,0%,93%,0.05) 0.5%, hsla(190,0%,100%,0.05) 70%,transparent 1%, transparent 100%)
  #312e81;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}